<div class="input-group">
    <div class="input-group-prepend"></div>
    <div class="input-group-append"></div>
</div>
<div>



    <div class="card">
        <h3 class="card-title">Burger Menu</h3>
        <form id="addburg">
            <label for="">Enter the burger</label>
            <textarea class="form-control" name="burgerinput" rows="2"></textarea>
            <button type="submit" class="btn btn-primary">Burger Time!</button>
        </form>

    </div>


    <div class="col-md-4 " style="padding-bottom:20px;margin-bottom:32px;">
        <h3>
            List of Burgers</h3>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
            <div class="text-white bg-info text-center">
                {{this.id}} {{burger_name}}
                <button id={{this.id}} class="eatBurg btn btn-lg btn-outline-warning text-white">Eat Me!</button>
            </div>
        </li>
        {{/unless}}
        {{/each}}

    </div>
    <div class="col-md-4 " style="padding-bottom:20px;margin-bottom:32px;">
        <h3>
            Burgers Devoured</h3>
        <p class="text-secondary"
            style="text-align:left;font-size:14px;font-family:'Open Sans', sans-serif;line-height:22px;color:rgb(9,9,10);margin-left:24px;">
        </p>
    </div>
    <div>
        {{#each burgers}}
        {{#if devoured}}
        <li>
            <div class="bg-danger text-center">
                <p>{{this.id}} {{burger_name}}</p>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </div>


</div>